@{
    ViewBag.Title = "Quản lý chi nhánh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>
}
<div class="row">

    <div class="col-lg-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body p-2">
                <div class="form-horizontal">
                    <div class="form-group row">
                        <button type="button" style="margin-left:5px" onclick="OpenModal()" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;Thêm mới</button>
                    </div>
                </div>

            </div>
            <!-- /.card-body -->
            <div class="card-footer p-0">


                <!-- /.float-right -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body p-2">
                @Html.Action("ListCenter")
            </div>
            <!-- /.card-body -->

        </div>
    </div>



</div>
<script>
    function OpenModal() {
        $.colorbox({
            href: "/Center/ModalInsertUpdate?id=0", innerWidth: "620px"
        });
    }

</script>
<!-- Panel Widget -->
