<table id="tbl-center" class="table table-bordered table-hover" width="100%">
    <thead>
        <tr>
            <th>Mã chi nhánh</th>
            <th>Tên chi nhánh</th>
            <th>Địa chỉ</th>
            <th>Điện thoại</th>
            <th>Thương hiệu</th>
            <th>Giám đốc</th>
            <th class="menu-action">Tùy chọn</th>
        </tr>
    </thead>
</table>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        LoadListCenter();
    });
    function LoadListCenter() {
        var tblContent = $('#tbl-center').dataTable({
            ajax: {
                url: "/Center/_ListCenter",
                type: 'POST'

            },
            processing: true,
            serverSide: true,
            bSort: false,
            columns: [
                {
                    data: 'code',
                    class: 'text-center'
                },
                {
                    data: 'name',
                    class: 'text-center'
                },
                {
                    data: 'address',
                    class: 'text-center'
                },
                {
                    data: 'mobile',
                    class: 'text-center'
                },
                {
                    data: 'brandname',
                    class: 'text-center'
                },
                {
                    data: 'director',
                    class: 'text-center'
                },
                {
                    data: 'id',
                    mRender: function (data) {
                        return '<button data-original-title="edit" data-toggle="tooltip"  class="btn-table btn-primary" onclick="EditCenter(' + data + ')"> <i class="fa fa-pen"></i> </button>&nbsp;&nbsp;' +
                            //'<a href="javascript:void(0)" class="btn btn-success  btn-flat margin-right" title="KH quay lại"><i class="fa fa-reply"></i></a>' +
                            '<button data-original-title="delete" data-toggle="tooltip" class="btn-table btn-danger" onclick="Disable(' + data + ')"> <i class="fa fa-times"></i> </button>';
                    },
                    class: 'text-center css-td'
                }
            ],
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": 'no-sort'
                }
            ],
            "order": [[1, 'asc']],
            responsive: true,
            bLengthChange: false,
            initComplete: function (settings, json) {

            },
            paging: true,
            fnCreatedRow: function (row, data, index) {
                //$(row).css("background-color", "#eae7d0");
            },
            language: {
                lengthMenu: "Độ dài",
                zeroRecords: "không có dữ liệu",
                info: "Tổng cộng _TOTAL_ bản ghi",
                emptyTable: "Không có bản ghi",
                infoEmpty: "Không có bản ghi",
                loadingRecords: "Đang tải",
                search: "Tìm kiếm",
                searchPlaceholder: "Tìm kiếm",
                paginate: {
                    first: "Trang đầu",
                    last: "Trang cuối",
                    next: "Tiếp",
                    previous: "Quay lại"
                }
            }, stateSave: true,
            "bDestroy": true
        });
    }
    function EditCenter(id) {
        console.log(id);
        $.colorbox({
            href: "/Center/ModalInsertUpdate?id=" + id, innerWidth: "620px"
        });
    }
    function SaveInfo() {

        if ($('#txt_code').val() == undefined || $('#txt_code').val() == "" || $('#txt_code').val() == null) {
            Call_Toast("warning", "Bạn chưa nhập mã chi nhánh!");
            $('#txt_code').focus();
            return;
        }
        if ($('#txt_name').val() == undefined || $('#txt_name').val() == "" || $('#txt_name').val() == null) {
            Call_Toast("warning", "Bạn chưa nhập mã chi nhánh!");
            $('#txt_name').focus();
            return;
        }
        $.ajax({
            url: '/Center/Save',
            type: 'GET',
            data: {
                id: $('#hid_id').val(),
                code: $('#txt_code').val(),
                name: $('#txt_name').val(),
                mobile: $('#txt_mobile').val(),
                director: $('#txt_director').val(),
                brandname: $('#txt_brandname').val(),
                address: $('#txt_address').val()
            },
            dataType: 'json',
            success: function (respond) {
                if (respond.result.IsSuccess) {
                    Call_notification("success", respond.result.Message);
                }
                else {
                    Toast("error", respond.result.Message);
                }
                LoadListCenter();
            }
        });
    }
    function Disable(id) {
        if (confirm("Bạn có muốn xóa bản ghi này không?")) {
            $.ajax({
                url: '/Center/DeleteCenter',
                type: 'GET',
                data: {
                    id: id
                },
                dataType: 'json',
                success: function (respond) {
                    if (respond.result.IsSuccess) {
                        Call_notification("success", respond.result.Message);
                    }
                    else {
                        Call_notification("error", respond.result.Message);
                    }
                    LoadListCenter();
                }
            });
        }
    }
</script>